@import "tailwindcss";

@layer base {
  html,
  body,
  input,
  textarea,
  button,
  select {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    color: #141414;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}